#mainBack{
    -fx-background-image: url(../img/startback.png);
    -fx-background-repeat: no-repeat;
}
#mainStart{
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-text-fill: #FF6366;
}