#RecBack{
    -fx-background-image: url(../img/reciptback.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: #EC5557;
}
#recBackbut{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: #FF6366;
    -fx-text-align: center;
}
#recClose{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: #FF6366;
    -fx-text-alignment: center;
}